.chat {
  min-width: 180px;
  .chat__messages {
    width: 100%;
    padding: 10px 10px;
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    li {
      margin-bottom: 10px;
      span {
        font-weight: 600;
      }
      .self {
        color: $comfort-blue;
      }
      .others {
        color: black;
      }
    }
  }
  .chat__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -5px;
    input {
      height: 50px;
      width: 100%;
      padding: 0px 25px;
      box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
        0 3px 7px -3px rgba(0, 0, 0, 0.3);
      background-color: $input-background;
      color: white;
      &::placeholder {
        color: white;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    &:hover {
      background: #555;
    }
  }
}
