// $home-background: #7f8c8d;
$home-background: #bdc3c7;
$grey-background: #5c6566;

$deep-orange: #e38c00;
$comfort-blue: #396ec4;

$popup-noti-good: #2ecc71;
$popup-noti-border-good: #27ae60;
$popup-noti-bad: #f1c40f;
$popup-noti-border-bad: #f39c12;

$notif-word: #f39c12;
$notif-border-word: #e67e22;
$notif-timer: #e74c3c;
$notif-border-timer: #c0392b;

$box-shadow: 0 4px 6px rgba(50, 50, 93, 0.51), 0 1px 3px rgba(0, 0, 0, 0.58);
