<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/styles.css")
        title Guess Mind
    body
        .loginBox
            form(action="")#jsLogin
                input(placeholder="Nickname을 입력해주세요!",type="text")
        .gameContainer#jsGame
            .main
                .notifs#jsNotifs
                canvas.canvas#jsCanvas
                .controls#jsControls
                    .controls__brushSize
                        input(type="range",name="brushSize",id="jsBrushSize",min="0.1",max="5.0",value="2.5",step="0.1")
                        .brushSizeText#jsBrushSizeText 2.5
                    .controls__btns
                        button#jsMode Fill
                        button#jsInitialize Initialize
                    .controls__colors#jsColors
                        .controls__color.jsColor(style="background-color:#000000;")
                        .controls__color.jsColor(style="background-color:#ffffff;")
                        .controls__color.jsColor(style="background-color:#e30e0e;")
                        .controls__color.jsColor(style="background-color:#f39c12;")
                        .controls__color.jsColor(style="background-color:#f1c40f;")
                        .controls__color.jsColor(style="background-color:#27ae60;")
                        .controls__color.jsColor(style="background-color:#2980b9;")
                        .controls__color.jsColor(style="background-color:#2c0c94;")
                        .controls__color.jsColor(style="background-color:#8e44ad;")
            .chat
                ul.chat__messages#jsMessages
                form.chat__form#jsSendMessage
                    input(placeholder="메세지 보내기.")
            .player__board
                table.board__table#jsPlayerTable
                    tr.table__header
                        th Nickname
                        th Score
        script.
            window.events= !{events}
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")